
<nav  class="  navbar custom-navbar  navbar-expand-lg bg-body-tertiary rounded  "  aria-label="Eleventh navbar example">
  <div class="container-fluid  " >
    <a class="navbar-brand title "  href="/">Book Lore</a>
    <button class="navbar-toggler collapsed "  type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample09" aria-controls="navbarsExample09" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon "  ></span>
    </button>

    <div class="navbar-collapse collapse" id="navbarsExample09" >
      <ul class="navbar-nav me-auto ">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link bug-report" href="https://github.com/mugenGH/Book-lore/issues/">bug report</a>
        </li>
       
      </ul>

      <form method="post" action="/search"><div class="input-group  d-flex justify-content-center ">
        <input type="search" class=" rounded form-control " placeholder="Enter book title" name="title" aria-label="Search" aria-describedby="search-addon" />
        <input type="submit" class="btn btn-outline-light "  value="search">
      </div></form>
    </div>
  </div>
</nav>
